<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<form th:action="@{/form}" method="post">
    <div>
        <label for="username">Username: </label>
        <div>
            <input name="username" id="username" type="text" autocomplete="off">
        </div>
        <div th:if="${error != null && error.containsKey('username')}" th:text="${error.get('username')}"></div>
    </div>
    <div>
        <label for="password">Password: </label>
        <div>
            <input name="password" id="password" type="password" autocomplete="off">
        </div>
        <div th:if="${error != null  && error.containsKey('password')}" th:text="${error.get('password')}">
    </div>
    <div>
        <label for="email">Email: </label>
        <div>
            <input name="email" id="email" type="email" autocomplete="off">
        </div>
        <div th:if="${error != null  && error.containsKey('email')}" th:text="${error.get('email')}">
    </div>
    <div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
</body>
</html>